  <div class="row">
    <div id="header_wrap" class="outer">
          <header class="inner">
            <a id="forkme_banner" href="https://github.com/clebens">View on GitHub</a>

            <div class="row title">
            <h1 id="project_title"><div class="capital">C</div>olin <div class="capital">L</div>ebens</h1>
            </div>
            <div class="row tagline">
            <h2 class="project_tagline"><a href="mailto:colin.lebens@gmail.com">colin.lebens@gmail.com</a></h2>

             <h2 class="project_tagline"><a href="https://github.com/clebens" class="rightmost">https://github.com/clebens</a></h2>
             </div>
          </header>
      </div>
    </div>
  </div>
