  <div class="row">
  <h2><div class="capital">P</div>rofessional <div class="capital">E</div>xperience</h2>
  </div>

  {% for job in site.data.jobs %}
  <div class="row">
   <div class="col-sm-3">
      <h3>{{ job.date }}</h3>
    </div>
    <div class="col-sm-8">
      <h4>{{ job.name }}</h4>
      <h5>{{job.title}}</h5>
    </div>
    <div class="col-sm-1">
      <div id="{{job.prefix}}-show" class="glyphicon glyphicon-menu-down"></div>
      <div id="{{job.prefix}}-hide" class="glyphicon glyphicon-menu-up"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-9">
      <div id="{{job.prefix}}-details">
      {{ job.details }}
      </div>
    </div>
  </div>

  <script type="text/javascript">
        $(document).ready( function() {
          setup_display_toggle("{{ job.prefix }}");
        });
  </script>

  {% endfor %}
